.Card{
    position: relative;
    padding: 5px 10px;

    img{
       width: 100%;
       display: block;
       border:2px solid #fff; 
       border-radius:6px;
      
    } 

    
}

.Card .front{
    transform:rotateY(90deg);
        position: absolute;
        transition: all ease-in 0.5s;
}

.flipped .front{
    transform:rotateY(0deg);
    transition-delay: 0.2s;
}
